
!Software Version V500R005C10SPC300
!Last configuration was saved at 2025-05-15 08:49:02 UTC
#
sysname USG6000V1
#
 l2tp domain suffix-separator @
#
 ipsec sha2 compatible enable 
#
undo telnet server enable
undo telnet ipv6 server enable
#
clock timezone Beijing add 08:00:00
#
 update schedule location-sdb weekly Sun 07:32
#
 firewall defend action discard
#
 banner enable
#
 user-manage web-authentication security port 8887
 undo privacy-statement english
 undo privacy-statement chinese
page-setting
 user-manage security version tlsv1.1 tlsv1.2
password-policy
 level high
user-manage single-sign-on ad
user-manage single-sign-on tsm
user-manage single-sign-on radius
user-manage auto-sync online-user
#
 web-manager security version tlsv1.1 tlsv1.2
 web-manager enable
 web-manager security enable
#
firewall dataplane to manageplane application-apperceive default-action drop
#
dns server 8.8.8.8 
dns server 200.3.1.1 
#
 undo ips log merge enable
#
 decoding uri-cache disable
#
 undo feedback type engine-statistics enable 
 undo feedback type maintain enable 
 feedback administrator email %^%#D`ZA7(81!'`K9V-<}s}!kV+4;]nO1DVIhVH`*NA/eZk!8;r>.'%GlIS[DkM,%^%# 
 feedback administrator phone %^%#AE_4#~8r^!IV<MNAMC,L=Agt.f+Y4#@@>N.i":7<%^%# 
#
 update schedule ips-sdb daily 06:28
 update schedule av-sdb daily 06:28
 update schedule sa-sdb daily 06:28
 update schedule cnc daily 06:28
 update schedule file-reputation daily 06:28
#
ip vpn-instance default
 ipv4-family
#
 time-range worktime
  period-range 08:00:00 to 18:00:00 working-day   
#
acl number 3001
 rule 5 permit icmp 
acl number 3002
 rule 5 permit icmp 
acl number 3003
 rule 5 permit ip 
#
ipsec proposal prop15515173797
 encapsulation-mode auto
 esp authentication-algorithm sha2-256 
 esp encryption-algorithm aes-256 
ipsec proposal prop15516174594
 encapsulation-mode auto
 esp authentication-algorithm sha2-256 
 esp encryption-algorithm aes-256 
ipsec proposal prop15516281280
 encapsulation-mode auto
 esp authentication-algorithm sha2-256 
 esp encryption-algorithm aes-256 
#
ike proposal default
 encryption-algorithm aes-256 aes-192 aes-128 
 dh group14 
 authentication-algorithm sha2-512 sha2-384 sha2-256 
 authentication-method pre-share
 integrity-algorithm hmac-sha2-256 
 prf hmac-sha2-256 
ike proposal 2
 encryption-algorithm aes-256 
 dh group14 
 authentication-algorithm sha2-256 
 authentication-method pre-share
 integrity-algorithm hmac-sha2-256 
 prf hmac-sha2-256 
ike proposal 3
 encryption-algorithm aes-256 
 dh group14 
 authentication-algorithm sha2-256 
 authentication-method pre-share
 integrity-algorithm hmac-sha2-256 
 prf hmac-sha2-256 
ike proposal 4
 encryption-algorithm aes-256 
 dh group14 
 authentication-algorithm sha2-256 
 authentication-method pre-share
 integrity-algorithm hmac-sha2-256 
 prf hmac-sha2-256 
#
ike peer ike155151737975
 exchange-mode auto
 pre-shared-key %^%#h1__T`MUbGn"05%2zzx-;<U:Cry\dQ8e\n&('6z7%^%#
 ike-proposal 2
 remote-id-type none
 dpd type periodic
 remote-address 100.1.1.1 
ike peer ike155161745947
 exchange-mode auto
 pre-shared-key %^%#*pvK(~Mqn$qa[YIn'E7>LBh;)>[#jVQ"v}A|-adH%^%#
 ike-proposal 3
 remote-id-type none
 dpd type periodic
ike peer ike155162812808
 exchange-mode auto
 pre-shared-key %^%#txzn>\l3BD3-I4Zz|m<+QIAK*3<~Z6p\H~84_xjN%^%#
 ike-proposal 4
 remote-id-type none
 dpd type periodic
 remote-address 200.1.1.1 
#
ipsec policy-template tpl155161745947 1
 security acl 3002
 ike-peer ike155161745947
 proposal prop15516174594
 tunnel local 200.3.1.2
 undo policy enable
 alias 点到多点 
 sa duration traffic-based 10485760
 sa duration time-based 3600
#
ipsec policy ipsec1551515417 1 isakmp
 security acl 3001
 ike-peer ike155151737975
 proposal prop15515173797
 tunnel local applied-interface
 undo policy enable
 alias 分部到总部 
 sa trigger-mode auto
 sa duration traffic-based 10485760
 sa duration time-based 3600
ipsec policy ipsec1551515417 3 isakmp template tpl155161745947
ipsec policy ipsec1551628126 1 isakmp
 security acl 3003
 ike-peer ike155162812808
 proposal prop15516281280
 tunnel local applied-interface
 undo policy enable
 alias 分部到公司右 
 sa trigger-mode auto
 sa duration traffic-based 10485760
 sa duration time-based 3600
#
aaa
 authentication-scheme default
 authentication-scheme admin_local
 authentication-scheme admin_radius_local
 authentication-scheme admin_hwtacacs_local
 authentication-scheme admin_ad_local
 authentication-scheme admin_ldap_local
 authentication-scheme admin_radius
 authentication-scheme admin_hwtacacs
 authentication-scheme admin_ad
 authorization-scheme default
 accounting-scheme default
 domain default
  service-type internetaccess ssl-vpn l2tp ike
  internet-access mode password
  reference user current-domain
 manager-user audit-admin 
  password cipher @%@%IW}MXkgmWWy[/J-5DWK/AAnb9Lk"8,tF,DXYxw3,tSO+AneA@%@%
  service-type web terminal 
  level 15 

 manager-user api-admin 
  password cipher @%@%P=5~CZi#p4YmfRFy=&6$[fP#,@b0*%m2$)UV#z8yKv/VfP&[@%@%
  level 15 

 manager-user admin 
  password cipher @%@%vCyc"-z.5.hfjxFh/d88mD=z(~)w)"`.~B(!n!Y5x\M1D=}m@%@%
  service-type web terminal 
  level 15 

 role system-admin
 role device-admin
 role device-admin(monitor)
 role audit-admin
 bind manager-user audit-admin role audit-admin
 bind manager-user admin role system-admin
#
l2tp-group default-lns
#
interface GigabitEthernet0/0/0
 undo shutdown
 ip binding vpn-instance default
 ip address 192.168.135.2 255.255.255.0
 alias GE0/METH
 service-manage http permit
 service-manage https permit
 service-manage ping permit
 service-manage ssh permit
 service-manage snmp permit
 service-manage telnet permit
#
interface GigabitEthernet1/0/0
 shutdown
 service-manage http permit
 service-manage https permit
 service-manage ping permit
 service-manage ssh permit
 service-manage snmp permit
 service-manage telnet permit
#
interface GigabitEthernet1/0/1
 shutdown
#
interface GigabitEthernet1/0/2
 shutdown
#
interface GigabitEthernet1/0/3
 shutdown
#
interface GigabitEthernet1/0/4
 shutdown
#
interface GigabitEthernet1/0/5
 undo shutdown
 ip address 172.16.1.1 255.255.255.0
 service-manage http permit
 service-manage https permit
 service-manage ping permit
 service-manage ssh permit
 service-manage snmp permit
 service-manage telnet permit
 ipsec policy ipsec1551628126
#
interface GigabitEthernet1/0/6
 undo shutdown
 ip address 200.3.1.2 255.255.255.0
 service-manage http permit
 service-manage https permit
 service-manage ping permit
 service-manage ssh permit
 service-manage snmp permit
 service-manage telnet permit
 ipsec policy ipsec1551515417
#
interface Virtual-if0
#
interface NULL0
#
firewall zone local
 set priority 100
#
firewall zone trust
 set priority 85
 add interface GigabitEthernet0/0/0
 add interface GigabitEthernet1/0/5
 add interface GigabitEthernet1/0/6
#
firewall zone untrust
 set priority 5
#
firewall zone dmz
 set priority 50
#
ospf 2
 default-route-advertise always
 area 0.0.0.0
  network 172.16.1.0 0.0.0.255
#
ip route-static 0.0.0.0 0.0.0.0 200.3.1.1 preference 50
#
undo ssh server compatible-ssh1x enable
ssh authentication-type default password
ssh server cipher aes256_ctr aes128_ctr
ssh server hmac sha2_256 sha1
ssh client cipher aes256_ctr aes128_ctr
ssh client hmac sha2_256 sha1
#
firewall detect ftp
#
 nat server Server4-FTP zone trust global 200.3.1.3 inside 172.16.3.2 unr-route
 nat server Server5-Web zone trust global 200.3.1.4 inside 172.16.4.2 unr-route
#
user-interface con 0
 authentication-mode aaa
user-interface vty 0 4
 authentication-mode aaa
 protocol inbound ssh
user-interface vty 16 20
#
pki realm default
#
sa
#
location
#
multi-linkif
 mode proportion-of-weight
#
right-manager server-group
#
device-classification
 device-group pc
 device-group mobile-terminal
 device-group undefined-group
#
user-manage server-sync tsm
#
security-policy
 default action permit
#
auth-policy
#
traffic-policy
#
policy-based-route
#
nat-policy
 rule name GuideNat1747101994508
  egress-interface GigabitEthernet1/0/6
  action source-nat easy-ip
#
quota-policy
#
pcp-policy
#
dns-transparent-policy
#
rightm-policy
#
return  